body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

p {
  margin: 0;
  padding: 0;
}
div.book {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  width: 1280px;
  height: 75px;
  /* background-color: rgb(255, 255, 255); */
  text-align: center;
  border-bottom: 2px solid rgba(114, 114, 114, 0.5);
}
.readed-book {
  background-color: rgb(24, 163, 86);
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 200px;
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
}

.head-line {
  width: 100%;
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 35px;
  margin-bottom: 1px;
  padding-top: 5px;
  padding-bottom: 8px;
}
.head-line-image {
  margin-left: 5%;
  margin-right: 40%;
  padding-left: 100px;
}
.details {
  margin-left: 2%;
  font-family: "Tinos", serif;
  font-size: 25px;
  margin-bottom: 200px;
}

.header-title {
  padding-left: 170px;
}

div #main {
  width: 100%;
}
button.btn {
  height: 100%;
  width: 200px;
  font-family: "Tinos", serif;
  font-size: 20px;
  background-color: #e9e9e9;
  border: none;
  border-right: 2px solid rgba(114, 114, 114, 0.5);
}
btn.delete {
  border-left: 2px solid rgba(114, 114, 114, 0.5);
}
button.readed {
  background-color: #62b462;
}

span.info {
  width: 25%;
  padding-left: 10%;
  padding-top: 25px;
  font-family: "Tinos", serif;
  font-size: 3ch;
}

.first-letter {
  font-size: 4ch;
  color: rgb(182, 101, 9);
}

.form {
  margin: 2% auto auto 15%;
}

form label {
  font-family: "Tinos", serif;
  font-size: 3ch;
}

form input {
  height: 25px;
  width: 200px;
  margin: 1%;
  font-family: "Tinos", serif;
  font-size: 2ch;
}

.add-book {
  margin-top: 20px;
  text-align: center;
  font-family: "Tinos", serif;
  font-size: 4ch;
}
